#bd {
    background:linear-gradient(#46c4ff,#ffffff );
    display: block;
    background-size: 110vw 100vh;;
    background-repeat: no-repeat; 
    background-position: 0% 0%;

}
.title-1{
    display:flex;
    font-size: 30px;
    align-items:center;
    justify-content:center;
}
#obl-goroda{
    display: block;
    background:#ffffff;
    border: 3px solid #000;
    border-radius:12px;
    padding:28px;
    font-size:16px;
    margin: 4% auto;
    position: relative;
    box-sizing: border-box; 

    width: 660px;
    height: 675px;
}
.obl_gor{
    position: absolute;        
    height: 36px;              
    line-height: 36px;         
    font-size: 13px;             
    text-align: center;
    box-sizing: border-box;
    margin: 0;                  
    border: 2px solid #000;
    border-radius:20px;
    padding: 0 10px;            
    background-color: #7ef07e;
    cursor: pointer;

}
#minsk{
    position: absolute;
    top: 56%;
    left: 41%;
}
#gomel{
    position: absolute;
    top: 75.5%;
    left: 74%;
}
#mogilev{
    position: absolute;
    top: 54%;
    left: 70%;
}
#vitebsk{
    position: absolute;
    top: 30%;
    left: 63%;
}
#grodno{
    position: absolute;
    top: 54.5%;
    left: 10.5%;
}
#berst{
    position: absolute;
    top: 77%;
    left: 8%;
}

.coord{
    width: 600px;               
    height: 150px;             
    margin: 18px auto;          
    padding: 16px;
    box-sizing: border-box;
    background: #e4fffd;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(18,38,63,0.08);
    border: 3px solid #000;
    position: relative;        
    overflow: visible;
    display: block;
}
#lat, #lon{
    border-radius:4px;
    border: 2px solid #000;
}
#pogodaBtn{
    margin-top: 2%;
    background-color: #e1eef8;
    border-radius:4px;
}
.resultat{
    margin: 4% auto;
    position: relative;
    box-sizing: border-box; 

    width: 960px;
    height: 975px;
    background-color:#4ba3b9;
    border-radius:12px;
    padding:16px;
    box-shadow:0 6px 18px rgba(18,38,63,0.06);
    margin-top:8px;
    border: 3px solid #000;
}
.gomel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
#imgG{
  max-width: 100%;  
  width: 95%;    
  height: auto;
}