<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="header">
            <img id="imgG" src="brest.png" alt="">
        </div>    
        <div id="knopki">
            <button class="rg_gor" id="baran" >Барановичи</button>
            <button class="rg_gor" id="berezov">Берёза</button>
            <button class="rg_gor" id="brestsk">Брест</button>
            <button class="rg_gor" id="gantsevich">Ганцевичи</button>
            <button class="rg_gor" id="drogich">Дрогичинский</button>
            <button class="rg_gor" id="zhabink">Жабинковский</button>
            <button class="rg_gor" id="ivan">Ивановский</button>
            <button class="rg_gor" id="ivatsevich">Ивацевичи</button>
            <button class="rg_gor" id="kamenetsk">Каменецкий</button>
            <button class="rg_gor" id="kobrinsk">Кобрин</button>
            <button class="rg_gor" id="luninetsk">Лунинец</button>
            <button class="rg_gor" id="liahovich">Ляховичский</button>
            <button class="rg_gor" id="maloritsk">Малоритский</button>
            <button class="rg_gor" id="pinsk">Пинск</button>
            <button class="rg_gor" id="pruzhansk">Пружаны</button>
            <button class="rg_gor" id="stolinsk">Столин</button>
        </div>
        <div class="top">
            <h2 id="city">—</h2>
            <div class="temp" id="temp">—°C</div>
        </div>

        <div class="weather-row">
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html>