<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="header">
            <img id="imgG" src="/imgs/gomel1.svg" alt="Гомель" class="city-hero" />
        </div>
        <div id="knopki">
            <button class="rg_gor" id="br" >Брагинский</button>
            <button class="rg_gor" id="buda">Буда-Кошелевский</button>
            <button class="rg_gor" id="vetka">Ветковский</button>
            <button class="rg_gor" id="gom">Гомельский</button>
            <button class="rg_gor" id="dobrush">Добрушский</button>
            <button class="rg_gor" id="elsk">Ельский</button>
            <button class="rg_gor" id="zhit">Житковичский</button>
            <button class="rg_gor" id="zhlobin">Жлобинский</button>
            <button class="rg_gor" id="kalin">Калинковичский</button>
            <button class="rg_gor" id="korm">Кормянский</button>
            <button class="rg_gor" id="lel">Лельчицкий</button>
            <button class="rg_gor" id="loev">Лоевский</button>
            <button class="rg_gor" id="moz">Мозырский</button>
            <button class="rg_gor" id="narovl">Наровлянский</button>
            <button class="rg_gor" id="oktyabr">Октябрьский</button>
            <button class="rg_gor" id="petr">Петриковский</button>
            <button class="rg_gor" id="rech">Речицкий</button>
            <button class="rg_gor" id="rogach">Рогачёвский</button>
            <button class="rg_gor" id="svetl">Светлогорский</button>
            <button class="rg_gor" id="hoyniki">Хойникский</button>
            <button class="rg_gor" id="chechersk">Чечерский</button>
        </div>
        <div class="weather-row">
            <div class="temp" id="temp">—°C</div>
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html> 