<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="gomel-header">
            <img id="imgG" src="gomel1.svg" alt="Гомель" class="city-hero" />
        </div>
        <div id="knopki">
            <button class="rg_gor" id="minsk" >Брагинский район</button>
            <button class="rg_gor" id="gomel">Буда-Кошелевский район</button>
            <button class="rg_gor" id="mogilev">Ветковский район</button>
            <button class="rg_gor" id="vitebsk">Гомельский район</button>
            <button class="rg_gor" id="grodno">Добрушский район</button>
            <button class="rg_gor" id="berst">Ельский район</button>
            <button class="rg_gor" id="berst">Житковичский район</button>
            <button class="rg_gor" id="berst">Жлобинский район</button>
            <button class="rg_gor" id="berst">Калинковичский район</button>
            <button class="rg_gor" id="berst">Кормянский район</button>
            <button class="rg_gor" id="berst">Лельчицкий район</button>
            <button class="rg_gor" id="berst">Лоевский район</button>
            <button class="rg_gor" id="berst">Мозырский район</button>
            <button class="rg_gor" id="berst">Наровлянский район</button>
            <button class="rg_gor" id="berst">Октябрьский район</button>
            <button class="rg_gor" id="berst">Петриковский район</button>
            <button class="rg_gor" id="berst">Речицкий район</button>
            <button class="rg_gor" id="berst">Рогачёвский район</button>
            <button class="rg_gor" id="berst">Светлогорский район</button>
            <button class="rg_gor" id="berst">Хойникский район</button>
            <button class="rg_gor" id="berst">Чечерский район </button>
        </div>
        <div class="top">
            <h2 id="city">—</h2>
            <div class="temp" id="temp">—°C</div>
        </div>

        <div class="weather-row">
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html> 