<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="header">
           <img id="imgG" src="/imgs/grodno.png" alt="">
        </div>   
        <div id="knopki">
            <button class="rg_gor" id="berestovitski" >Берестовицкий</button>
            <button class="rg_gor" id="volkovisski">Волковысский</button>
            <button class="rg_gor" id="voronovski">Вороновский</button>
            <button class="rg_gor" id="grodnenski">Гродненский</button>
            <button class="rg_gor" id="dyatlovski">Дятловский</button>
            <button class="rg_gor" id="zelvenski">Зельвенский</button>
            <button class="rg_gor" id="ivevski">Ивьевский</button>
            <button class="rg_gor" id="korelichski">Кореличский</button>
            <button class="rg_gor" id="lidski">Лидский</button>
            <button class="rg_gor" id="mostovski">Мостовский</button>
            <button class="rg_gor" id="novogrudski">Новогрудский</button>
            <button class="rg_gor" id="ostrovetski">Островецкий</button>
            <button class="rg_gor" id="oshmyanski">Ошмянский</button>
            <button class="rg_gor" id="svislochski">Свислочский</button>
            <button class="rg_gor" id="slonimski">Слонимский</button>
            <button class="rg_gor" id="smorgonski">Сморгонский</button>
            <button class="rg_gor" id="schuchinski">Щучинский</button>
        </div>

        <div class="top">
            <h2 id="city">—</h2>
            <div class="temp" id="temp">—°C</div>
        </div>

        <div class="weather-row">
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html>