<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="header">
            <img id="imgG" src="/imgs/minsk.svg" alt="">
        </div>    
        <div id="knopki">
            <button class="rg_gor" id="berezenski">Березинский</button>
            <button class="rg_gor" id="borisovsk">Борисовский</button>
            <button class="rg_gor" id="vileiski">Вилейский</button>
            <button class="rg_gor" id="volozhinski">Воложинский</button>
            <button class="rg_gor" id="dzherzhinsk">Дзержинский</button>
            <button class="rg_gor" id="kletsk">Клецкий</button>
            <button class="rg_gor" id="kopilsk">Копыльский</button>
            <button class="rg_gor" id="krupsk">Крупский</button>
            <button class="rg_gor" id="logoiski">Логойский</button>
            <button class="rg_gor" id="lubansk">Любанский</button>
            <button class="rg_gor" id="minski">Минский</button>
            <button class="rg_gor" id="molodechnensk">Молодечненский</button>
            <button class="rg_gor" id="miadelsk">Мядельский</button>
            <button class="rg_gor" id="nesvizh">Несвижский</button>
            <button class="rg_gor" id="puhovichsk">Пуховичский</button>
            <button class="rg_gor" id="slutsk">Слуцкий</button>
            <button class="rg_gor" id="smolevichsk">Смолевичский</button>
            <button class="rg_gor" id="soligorsk">Солигорский</button>
            <button class="rg_gor" id="starodorozhsk">Стародорожский</button>
            <button class="rg_gor" id="stolbtsovsk">Столбцовский</button>
            <button class="rg_gor" id="uzdensk">Узденский</button>
            <button class="rg_gor" id="chervensk">Червенский</button>
        </div>
        <div class="top">
            <h2 id="city">—</h2>
            <div class="temp" id="temp">—°C</div>
        </div>

        <div class="weather-row">
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html>