<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="header">
            <img id="imgG" src="minsk.svg" alt="">
        </div>    
        <div id="knopki">
            <button class="rg_gor" id="br" >Березинский</button>
            <button class="rg_gor" id="buda">Борисовский</button>
            <button class="rg_gor" id="vetka">Вилейский</button>
            <button class="rg_gor" id="gom">Воложинский</button>
            <button class="rg_gor" id="dobrush">Дзержинский</button>
            <button class="rg_gor" id="elsk">Клецкий</button>
            <button class="rg_gor" id="zhit">Копыльский</button>
            <button class="rg_gor" id="zhlobin">Крупский</button>
            <button class="rg_gor" id="kalin">Логойский</button>
            <button class="rg_gor" id="korm">Любанский</button>
            <button class="rg_gor" id="lel">Минский</button>
            <button class="rg_gor" id="loev">Молодечненский</button>
            <button class="rg_gor" id="moz">Мядельский</button>
            <button class="rg_gor" id="narovl">Несвижский</button>
            <button class="rg_gor" id="oktyabr">Пуховичский</button>
            <button class="rg_gor" id="petr">Слуцкий</button>
            <button class="rg_gor" id="rech">Смолевичский</button>
            <button class="rg_gor" id="rogach">Солигорский</button>
            <button class="rg_gor" id="svetl">Стародорожский</button>
            <button class="rg_gor" id="hoyniki">Столбцовский</button>
            <button class="rg_gor" id="chechersk">Узденский</button>
            <button class="rg_gor" id="chechersk">Червенский</button>
        </div>
        <div class="top">
            <h2 id="city">—</h2>
            <div class="temp" id="temp">—°C</div>
        </div>

        <div class="weather-row">
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html>