<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="header">
            <img id="imgG" src="/imgs/mogilev.svg" alt="">
        </div> 
        <div id="knopki">
            <button class="rg_gor" id="belinichski" >Белыничский</button>
            <button class="rg_gor" id="bobruisk">Бобруйский</button>
            <button class="rg_gor" id="bihovsk">Быховский</button>
            <button class="rg_gor" id="klichevski">Кличевский</button>
            <button class="rg_gor" id="goretski">Горецкий</button>
            <button class="rg_gor" id="dribinski">Дрибинский</button>
            <button class="rg_gor" id="kirovski">Кировский</button>
            <button class="rg_gor" id="klimovichsk">Климовичски</button>
            <button class="rg_gor" id="kostukovichski">Костюковичский</button>
            <button class="rg_gor" id="krasnopolsk">Краснопольский</button>
            <button class="rg_gor" id="krichevsk">Кричевский</button>
            <button class="rg_gor" id="kruglyansk">Круглянский</button>
            <button class="rg_gor" id="mstislavsk">Мстиславский</button>
            <button class="rg_gor" id="mogilevsk">Могилевский</button>
            <button class="rg_gor" id="osipovichski">Осиповичский</button>
            <button class="rg_gor" id="slavgorodski">Славгородский</button>
            <button class="rg_gor" id="hotinski">Хотимский</button>
            <button class="rg_gor" id="chausski">Чаусский</button>
            <button class="rg_gor" id="cherikovsk">Чериковский</button>
            <button class="rg_gor" id="shklovski">Шкловский</button>
            <button class="rg_gor" id="glusski">Глусский</button>
        </div>
        
        <div class="top">
            <h2 id="city">—</h2>
            <div class="temp" id="temp">—°C</div>
        </div>

        <div class="weather-row">
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html>