<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="header">
            <img id="imgG" src="/imgs/vitebsk.svg" alt="">
        </div>    
        <div id="knopki">
            <button class="rg_gor" id="beshenkovichski" >Бешенковичский</button>
            <button class="rg_gor" id="braslavski">Браславский</button>
            <button class="rg_gor" id="verhnedvinski">Верхнедвинский</button>
            <button class="rg_gor" id="vitebski">Витебский</button>
            <button class="rg_gor" id="glubokski">Глубокский</button>
            <button class="rg_gor" id="gorodokski">Городокский</button>
            <button class="rg_gor" id="dokshitski">Докшицкий</button>
            <button class="rg_gor" id="dubrovenski">Дубровенский</button>
            <button class="rg_gor" id="lepelski">Лепельский</button>
            <button class="rg_gor" id="lioznenski">Лиозненский</button>
            <button class="rg_gor" id="miorski">Миорский</button>
            <button class="rg_gor" id="orshanski">Оршанский</button>
            <button class="rg_gor" id="polotski">Полоцкий</button>
            <button class="rg_gor" id="postavski">Поставский</button>
            <button class="rg_gor" id="rossonski">Россонский</button>
            <button class="rg_gor" id="sennenski">Сенненский</button>
            <button class="rg_gor" id="tolochinski">Толочинский</button>
            <button class="rg_gor" id="ushachski">Ушачский</button>
            <button class="rg_gor" id="chashnikski">Чашникский</button>
            <button class="rg_gor" id="sharkovschinski">Шарковщинский</button>
            <button class="rg_gor" id="shumilinski">Шумилинский</button>
        </div>
        <div class="top">
            <h2 id="city">—</h2>
            <div class="temp" id="temp">—°C</div>
        </div>

        <div class="weather-row">
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html>