<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="bd">
    <section id="resultat" class="resultat" aria-live="polite">
        <div class="header">
            <img id="imgG" src="vitebsk.svg" alt="">
        </div>    
        <div class="top">
            <h2 id="city">—</h2>
            <div class="temp" id="temp">—°C</div>
        </div>

        <div class="weather-row">
            <img id="kartinka" alt="" class="kartinka" />
            <div id="txt" class="txt">—</div>
        </div>
    </section>
</body>
</html>